<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-color-header">
            <nav aria-label="breadcrumb" class="navbredcram" >
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item" aria-current="page" [routerLink]="['/dashboard']"><i
                            class="material-icons float-right">home</i></li>
                            <li class="breadcrumb-item"  aria-current="page" [routerLink]="['/article']">
                              Article</li>
                    
                    <li class="breadcrumb-item"  aria-current="page">Create Article</li>
                </ol>
            </nav>
        </div>
      <div class="col-12">
        <div class=" card pl-3 pb-5 pr-3">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Create Article</h4>
           
          </div>
          <div class="card-body">
            <form [formGroup]="createArticleForm" class="create-article-form" (submit)="create_article()">
             
                <div class="row">
                  <div class="col-6 col-md-4 col-lg-2">
                    <div class="image-preview mb-3">
                      <img class="upload-image" [src]="previewUrl || '../../assets/img/upload-log.png'" height="300" />
                    </div>
                  </div>
                  <div class="col-6 col-md-8">
                    <h4 class="w-100 font-weight-bolder">
                      Please Select Article Image
                    </h4>
                    <div class="form-group">
                    <input type="file" (change)="fileProgress($event)" class="form-control position-relative"
                      id="article_image" formControlName="article_image" placeholder="aticle Image" style="
                                          height: 50px;;
                                          opacity: 1;
                                          z-index: 1;
                                          width: 247px;
                                          background-image: none !important;">
                    <div class="w-100">
                      <p>Supported Formate : <br /> JGP, PNG, GIf</p>
                    </div>
                    <div *ngIf="submitted && f.article_image.errors" class="alert alert-danger">
                      <div *ngIf="f.article_image.errors.required">?
                        article Image is required.
                      </div>
                    </div>
                    <div *ngIf="fileUploadProgress">
                      Upload progress: {{ fileUploadProgress }}
                    </div>
                    <div class="mb-3" *ngIf="uploadedFilePath">
                      {{uploadedFilePath}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <h4 for="article_title them-color" class="w-100 font-weight-bolder">Article Title</h4>
                        <input type="text" class="form-control border border-dark pl-2" id="article_title"
                          formControlName="article_title">
                        <div *ngIf="submitted && f.article_title.errors" class="alert alert-danger">
                          <div *ngIf="f.article_title.errors.required">?
                            article title is required.
                          </div>
                        </div>
                      </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <div class="form-group" style="max-height: 300px; min-height: 300px;">
                        <h4 for="article_title them-color" class="w-100 font-weight-bolder">Article Blog</h4>
                        <!-- <textarea class="form-control" formControlName="article" id="article" 
                                          rows="3"></textarea> -->
                        <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" class="form-control" formControlName="article"
                          id="article">
                        </ckeditor>
                        <div *ngIf="submitted && f.article.errors" class="alert alert-danger">
                          <div *ngIf="f.article.errors.required">?
                            article is required.
                          </div>
                        </div>
                      </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <h4 for="article_title them-color" class="w-100 font-weight-bolder">keyword</h4>
                        <mat-form-field class="example-chip-list keywordstyle">
                          <mat-chip-list #chipList aria-orientation="vertical">
                            <mat-chip *ngFor="let keyword of keywords" [selectable]="selectable" [removable]="removable"
                              mat-require-match="true" (removed)="remove(keyword)">
                              {{keyword.name}}
                              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input #keywordInput matInput [formControl]="keyword" [matAutocomplete]="auto"
                              (focus)="matAutocomplete.showPanel = true" class="form-control border border-dark pl-2"
                              [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                          </mat-chip-list>
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let keyword of filteredKeyword | async" [value]="keyword.name">
                              {{keyword.name}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <button class="btn btn-primary pl-3 pr-3 float-right">
                          submit
                        </button>
                        <button class="btn btn-default pl-3 pr-3 float-right">
                          Clear
                        </button>
                      </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>