<div class="card" [routerLink]="['/user/article' ,rachnakar.id]">
<div class="row ml-0 mr-0 mt-2 mb-2 justify-content-center align-item-center d-flex">
    <!-- <img *ngIf="rachnakar.profile_url" [src]="rachnakar.profile_url" alt=""> -->
    <img class="rachnakar-image" src="../../../assets/img/woman-3083384_1920.jpg" alt="">
    <!-- <div *ngIf="!rachnakar.profile_url && rachnakar && rachnakar.name">{{(rachnakar.name).charAt(0)}}</div> -->
</div>
<div class="row ml-0 mr-0 font-weight-bold text-dark text-center align-item-center justify-content-center d-flex rachnakar-name">
    {{rachnakar.name}}
</div>
<div class="row ml-0 mr-0 mt-2 mb-1 font-weight-bold text-dark text-center align-item-center justify-content-center d-flex">
   Read More
</div>
</div>