.rachnakar-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -74px;
    margin-left: 92px;
}
.rachnakar-name{
    font-size: 18px;
}
.socail-image{
    width: 35px;
    height: 35px;
}
.rachnakar-name{
    font-size: 20px;
}
.rachanakar-details-border {
    border: 3px solid #C6B308;
}